body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0e1c37;
}

.header img {
    width: 300px;
    height: auto;
    margin: 0;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #c1ab89;
}



#inicio p {
    color: black;
    width: 33.33%;
    margin: 90px 200px 30px;
    padding: 20px;
    font-size: 30px;
}
